<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uta.cse5324.team1.teammanagementsystemandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Manager.AssignTeamTaskForm"></activity>
        <activity android:name="Manager.ViewTeamFeedbackGUI" />
        <activity android:name="Manager.AssignTeamLeadGUI" />
        <activity android:name="Manager.AssignTeamTaskGUI" />
        <activity android:name="User.ProfileDisplayer" />
        <activity android:name="User.TeamMembersDisplayer" />
        <activity android:name="Manager.ManagerMenuGUI" />
        <activity android:name="Lead.LeadMenuGUI" />
        <activity android:name="Member.MemberMenuGUI" />
        <activity android:name="User.UserMenuGUI" />
        <activity android:name="User.OpenTeamsDisplayer" />
        <activity android:name="User.CreateTeamForm" />
        <activity android:name="User.CreateProfileForm" />
        <activity android:name="Person.LoginForm" />
        <activity android:name="User.CreateProjectForm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>